{% extends "admin/layout.njk" %}

{% block styles %}
    <link rel="stylesheet" href="/styles/admin/form.css">
{% endblock styles %}

{% block content %}
    <main>
        <form method="POST" action="/admin/recipes">
            <div class="wrapper">
                <h2>Criando Receita</h2>
                <button type="submit">
                    Salvar receita
                </button>
            </div>
            
            {% include 'admin/fields.njk' %}
        </form>
    </main>
{% endblock content %}


{% block scripts %}
    <script src="/scripts/recipe-form.js"></script>
{% endblock scripts %}
