{% extends "admin/layout.njk" %}
{% block styles %}
    <link rel="stylesheet" href="/styles/admin/form.css">
    {% endblock styles %}
    {% block content %}
        <main>
            <div class="wrapper">
                <h2>Criando Receita</h2>

                <div class="buttons">
                    <button type="submit" form="form-delete">
                        Deletar
                    </button>
                    
                    <button type="submit" form="form-edit">
                        Salvar receita
                    </button>
                </div>
            </div>
            
            <form id="form-delete" method="POST" action="/admin/recipes?_method=DELETE">            
                <input type="hidden" name="index" value="{{ recipe.index}}">                
            </form>

            <form id="form-edit" method="POST" action="/admin/recipes?_method=PUT">
                {% include 'admin/fields.njk' %}

                <input type="hidden" name="index" value="{{ recipe.index}}">       
             </form>
    </main>
{% endblock content %}

{% block scripts %}
    <script src="/scripts/recipe-form.js"></script>
{% endblock scripts %}