{% extends "admin/layout.njk" %}

{% block styles %}
    <link rel="stylesheet" href="/styles/admin/index.css">
{% endblock styles %}

{% block content %}
    <main id="Admin-home">
        <h1>Gerenciar receitas</h1>
        <div class="cards">
            {% for recipe in recipes %}
                <div class="card">
                    <div class="image-container">
                        <img src="{{recipe.image}}" alt="{{recipe.title}}"/>
                    </div>
                    <div class="description">
                        <h3>
                            {{recipe.title}}
                        </h3>
                        <p>
                            por
                            {{recipe.author}}
                        </p>
                        <p>
                            <a>
                                Visualizar
                            </a>
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock content %}

{% block scripts %}
    <script src="/scripts/recipes-admin.js"></script>
{% endblock scripts %}