{% extends "admin/layout.njk" %}

{% block styles %}
    <link rel="stylesheet" href="/styles/admin/recipes.css">
{% endblock styles %}

{% block content %}
    <main id="Admin-home">
        <h1>Gerenciar receitas</h1>
        <div class="cards">
            {% for recipe in recipes %}
                <div class="card">
                    <img src="{{recipe.image}}" alt="{{recipe.title}}"/>
                    <h3>{{recipe.title}}</h3>
                    <p>por
                        {{recipe.author}}</p>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock content %}