{% extends "admin/layout.njk" %}

{% block styles %}
  <link rel="stylesheet" href="/styles/website/recipe.css"/>
{% endblock styles %}

{% block content %}
  <main id="recipe">
    <div class="wrapper">
      <h2>
        Reeceita:{{recipe.title}}
      </h2>
      <a href="/admin/recipes/{{recipe.index}}/edit" class="button">
        Editar receita
      </a>
    </div>
    {% include "description.njk"%}
  </main>
{% endblock content %}