{% extends "website/layout.njk" %}

{% block styles %}
  <link rel="stylesheet" href="/styles/website/recipe.css"/>
{% endblock styles %}

{% block content %}
  <main id="recipe">
    {% include "description.njk"%}
  </main>
{% endblock content %}