{% extends "website/layout.njk" %}

{% block styles %}
  <link rel="stylesheet" href="/styles/about-page.css"/>
{% endblock styles %}

{% block linkLogo %}
  <a href="/">
    <img src="/assets/logo.png" alt="Home"/>
  </a>
{% endblock linkLogo %}

{% block linksMenu %}
  <a class="current" href="#">
    Sobre
  </a>

  <a href="/recipes">
    Receitas
  </a>
{% endblock linksMenu %}

{% block content %}
  <main id="about-page">
    <section>
      <h2>Sobre o Foodfy</h2>

      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique, nesciunt aspernatur minus rem laboriosam modi vitae hic. Dicta ullam unde, deleniti enim deserunt eos quis, aliquam sequi, officia repellat blanditiis?
      </p>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, laudantium dolore minus soluta ab ullam odit natus ad repudiandae. Error praesentium veritatis tenetur provident itaque enim perspiciatis excepturi quia cum!
      </p>
    </section>

    <section>
      <h2>Como tudo começou...</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique, nesciunt aspernatur minus rem laboriosam modi vitae hic. Dicta ullam unde, deleniti enim deserunt eos quis, aliquam sequi, officia repellat blanditiis?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum modi voluptas distinctio ab possimus labore asperiores nisi libero sequi omnis perspiciatis quaerat, eius voluptates? Repellat laborum corrupti velit assumenda incidunt.
      </p>
    </section>

    <section>
      <h2>Nossas receitas</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, laudantium dolore minus soluta ab ullam odit natus ad repudiandae. Error praesentium veritatis tenetur provident itaque enim perspiciatis excepturi quia cum!
      </p>
    </section>
  </main>
{% endblock content %}