{% extends "website/layout.njk" %}

{% block styles %}
    <link rel="stylesheet" href="/styles/website/not-found.css">
{% endblock styles %}

{% block content %}
    <main id="not-found">
        <h1>Página não encontrada</h1>
        <p>Sinto muito mas a página que você procura não existe</p>
    </main>
{% endblock content %}