{% extends "website/layout.njk" %}

{% block styles %}
  <link rel="stylesheet" href="styles/website/recipes.css"/>
{% endblock styles %}

{% block content %}
  <main>
    <div class="cards">
      {% for recipe in recipes %}
        <div class="card">
          <div class="image-container">
            <img src="{{recipe.image}}" alt="{{recipe.title}}"/>
            </div>
          <div class="description">
            <h3>{{recipe.title}}</h3>
            <p>por
              {{recipe.author}}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </main>
{% endblock content %}

{% block scripts %}
  <script src="/scripts/recipes-website.js"></script>
{% endblock scripts %}