@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --primary-color: #111111;
  --secondary-color: #6558c3;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
  color: var(--primary-color);
}

p {
  text-align: justify;
}

main {
  width: 940px;
  max-width: 100%;
  margin: auto;
  padding: 50px 0;
}

/* === Menu === */
header {
  height: 80px;
  background-color: #111111;  
}

header nav {
  height: 100%;
  width: 940px;
  max-width: 100%;

  display: flex;
  margin: auto;
}

.links a {
  text-decoration: none;
  color: var(--primary-color);
}

.links a:hover,
.links .current {
  font-weight: bold;
}

.links #logo {
  display: flex;
  align-items: center;
}

header .links #menu {
  margin-left: 122px;
}

header .links #menu a {
  margin: 0 15px;
}

/* Another pages */

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.wrapper button,
.wrapper a.button {
  font-size: 16px;
  font-weight: bold;

  text-decoration: none;
  background-color: var(--secondary-color);
  color: white;

  padding: 9px 20px;
  border-radius: 4px;
}
