/* === Painel === */

#page-home .painel {
  height: 366px;

  border-radius: 30px;

  background-color: #fbdfdb;

  display: flex;
  justify-content: space-between;
}

#page-home .painel div {
  width: 316px;
  margin-left: 60px;

  align-self: center;
}

#page-home .painel div h1 {
  font-size: 32px;
  line-height: 38px;
}

#page-home .painel div p {
  margin-top: 10px;

  font-size: 18px;
  line-height: 28px;

  opacity: 0.7;
}

#page-home .painel .image-container img {
  width: 216px;
  height: 300px;

  margin: 66px 100px 0 0;
}

#page-home  h2 {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 24px;
}


