#about-page main section h2 {
  font-size: 24px;
}

#about-page main section p {
  margin-top: 20px;
  margin-bottom: 30px;
  
  color: #444444;

  font-size: 18px;
  line-height: 28px;

  text-align: justify;
}
