@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --primary-color: #111111;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
  color: var(--primary-color);

  margin: 30px auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.page {
  width: 940px;
  max-width: 100%;
}

/* === Menu === */

header nav {
  display: flex;
  margin-bottom: 50px;
}

.links a {
  text-decoration: none;
  color: var(--primary-color);
}

.links a:hover,
.links .current {
  font-weight: bold;
}

header .links #menu {
  margin-left: 122px;
}

header .links #menu a {
  margin: 0 15px;
}

footer {
  margin-top: 50px;
  height: 62px;

  background-color: #eeeaea;

  display: flex;

  justify-content: center;
}

footer p {
  font-size: 14px;
  color: #999999;

  align-self: center;
}
