@media (max-width: 900px) {
  .card img {
    max-width: 100%;
    height: auto;
  }

  .card h3 {
    font-size: 4vw;
  }

  .card p {
    font-size: 3vw;
  }

  /* === Recipes Modal */
  .modal-overlay {
    padding: 20px;
  }

  .modal,
  .modal-content img {
    max-width: 100%;
    height: auto;
  }

  .modal-content h3 {
    margin-top: 1vw;
    font-size: 4vw;
  }

  .modal-content p {
    margin-top: 1vw;
    font-size: 3vw;
  }

  .close-modal {
    bottom: 1vw;
  }
}

@media (max-width: 640px) {
  /* Navigation */
  header nav {
    justify-content: center;
  }

  header .links #menu {
    margin-left: 15px;
  }

  /* === Home === */

  #page-home .painel {
    height: auto;
  }

  #page-home .painel div {
    margin: 20px;
  }

  #page-home .painel div h1 {
    font-size: 5vw;
    line-height: normal;
  }

  #page-home .painel div p {
    font-size: 4vw;
    line-height: normal;
  }

  #page-home .image-container img {
    max-width: 100%;
    height: auto;

    margin: 33px 50px 0 0;
  }

  #page-home main h2 {
    text-align: center;
  }

  /* === Recipes === */
  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-height: 330px) {
  .modal {
    width: 90%;
    height: 90%;
  }

  .modal-content,
  .modal-content img {
    width: auto;
    height: 90%;
  }

  .close-modal {
    right: 2vw;
    top: 2vw;
  }
}
