@media (max-width: 900px) {
  .card img {
    max-width: 100%;
    height: auto;
  }
  .card h3 {
    font-size: 3.5vw;
  }
  .card p {
    font-size: 2vw;
  }
}

@media (max-width: 640px) {
  header nav {
    justify-content: center;
  }

  header .links #menu {
    margin-left: 15px;
  }

  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
